.custom-file-upload {
    border: 1px solid #d44694;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 4px;
    color: #333;
}

.custom-file-upload:hover {
    background-color: #e0e0e0;
}
.FileInput{
    display: flex;
}