.dropdown-container {
    position: relative;
    display: inline-block;
    margin-left: 1000px;
    width:30%;
   
   
}

.dropdown-toggle {
   
    border: 1px solid #ced4da;

    color: #212529;
    padding: 8px 16px;
    cursor: pointer;
    width:280px;
    height:60px;
    border: 2px solid #d44694;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.dropdown-toggle button{
    background-color: #fff;
    border: none;

}
.dropdown-button{
    padding: 0;
    border-radius: 100%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    width:280px;
  
  
  
}

.dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    width:280px;
    height:40px;
   
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .scrollable-menu {
    max-height: 180px; /* Adjust the maximum height as needed */
    overflow-y: auto;
    overflow-x: hidden;
  }
  