.dropdown-container {
    position: relative;
    display: inline-block;
    margin-left: 1000px;
    width:20%;
   
}

.dropdown-toggle {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #212529;
    padding: 8px 16px;
    cursor: pointer;
    width:300px;
    height:50px;
    background-color: aqua;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    width:300px;
   
  
  
}

.dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 20px;
    width:300px;
    height:50px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}
