*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selectEmployee-label{
    font-size: 20px;

}

.selectEmployee-input{
      width:300px;
      height:40px;
      border:2px solid rgb(214, 191, 237);
      border-radius: 20px;
}
.selectInventoryType-label{
    font-size: 20px;
}
.selectInventoryType-input{
      width:300px;
      height:40px;
      border:2px solid rgb(185, 185, 233);
      border-radius: 20px;
}

.option-list{
    width:300px;
    background-color: rgb(208, 176, 235);
    height:40px;
    border-radius: 20px;
    
} 
 .heading{
    width:30%;
    position: relative;
    left:300px;
    
    color:#900546;
    font-size: 30px;
    display: block;
} 
.add-button{
    width:30%;
    position:relative;
    left:270px;
    top:100px;
}


 .employee-filter{
 position: relative;
 right:400px;
}

.inventory-filter{
    position: relative;
    bottom:50px;
    left:-720px;
}
.container{
    position: relative;
    top: 200px;
} 
 
