.inventory-list {
    display: flex;
    flex-wrap: wrap;
}

.inventory-card{
    width: calc(50% - 20px); /* Adjust as needed */
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: aqua;
}

.card {
    background-color: #911e1e;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.details {
    display: none;
    padding: 10px;
    background-color: #0da745;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.expanded .details {
    display: block;
}

.inventory-card-container{
    background-color: blue;
}