*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selectEmployee-label{
    font-size: 20px;

}

.selectEmployee-input{
      width:300px;
      height:40px;
      border:2px solid rgb(214, 191, 237);
      border-radius: 20px;
}
.selectInventoryType-label{
    font-size: 20px;
}
.selectInventoryType-input{
      width:300px;
      height:40px;
      border:2px solid rgb(185, 185, 233);
      border-radius: 20px;
}

.option-list{
    width:300px;
    background-color: rgb(208, 176, 235);
    height:40px;
    border-radius: 20px;
    
} 
 .heading{
    width:30%;
    position: relative;
    left:350px;
    
    color:#900546;
    font-size: 30px;
    display: block;
} 
.add-button{
    width:30%;
    position:relative;
    left:270px;
    top:180px;
}


 .employee-filter{
 position: relative;
 right:400px;
}

.inventory-filter{
    position: relative;
    bottom:50px;
    left:-720px;
}
.container{
    position: relative;
    top: 200px;
} 
.pagination button{
    height:50px;
    width:50px;
    position:"relative";
    margin: auto;
    left:"600px";
    right:200px;
    border: none;
    margin: 5px;

}
.pagination{
   
    width: 400px;
    height:50px;
    position: relative;
    top:250px;
    left:19%;
    margin-bottom: 100px;
    display: inline-block;
    justify-content: space-between;
   
}

  
.pagination button:hover {
    background-color: rgb(216, 211, 211);
  }
  
  .pagination button.active {
    background-color: #ec1f7f;
  }

  .search-bar{
    position: relative;
    left:400px;
  }